@charset "UTF-8";


body {
    background-image: linear-gradient(to bottom, #060e81, #1a73e8);
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px; 
    box-sizing: border-box;
}

.div {
    background-color: white;
    width: 100%;       
    max-width: 400px;   
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    display: grid;
    gap: 10px;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    background-color: #060e81;
    text-align: center;
    display: block;
    padding: 10px 5px;
    border-radius: 4px;
    margin: 20px auto 10px auto; 
    max-width: 150px;            
    transition: background 0.3s;
}

a:hover {
    background-color: #0041a8;
    text-decoration: none;
}


@media (max-width: 500px) {
    .div {
        padding: 20px;
    }

    a {
        width: 100%;     
        max-width: none; 
        margin: 20px 0 10px 0;
    }
}
