     @charset "UTF-8";

        title{
            translate: "no";
        }
        body{
            background-image: linear-gradient(to bottom, #060e81, #1a73e8 );
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .login-box{
            background-color: white;
            width: 400px;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
            display: grid;
            gap: 10px;
        }
        form{
            display: grid;
            gap: 5px;
        }
        h2{
            text-align: center;
            color: #060e81;
        }
        input{
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        input:hover{
            border-color: #060e81;
            outline: none;
        }
        input[type="submit"]{
            background-color: #060e81;
            color: white;
            cursor: pointer;
        
        }
        a{
            text-decoration: none;
            color: #060e81;
            text-align: center;
            display: block;
            margin-top: 10px;
        translate: "no";
        }
        a:hover{
            text-decoration: underline;
        }